@using Entidades
@{
    ViewBag.Title = "VerPreguntasAlumnos";
    Layout = "~/Views/Shared/AlumnosLayout.cshtml";
}

<div id="preguntas-alumnos">
    <section class="titulo-pagina">
        <div class="row">
            <div class="col-sm-12">
                <h2>Preguntas</h2>
            </div>
        </div>
    </section>
    <section id="texto-filtros">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Recuerda que cuanto antes responda correctamente, mas chance tiene de sumar un mejor puntajes,
                    y su tu repuesta es la más completa,recibirás un puntaje bonus!
                </p>
            </div>
        </div>
        <div class="container">
            
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#Todas">Todas </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#SinCorregir">Sin corregir </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Correctas">Correctas </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Regular">Regular </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Mal">Mal </a>
                    </li>
                </ul>
            

            <br />
            <!--</section>-->
            <div class="tab-content">
                <div id="Todas" class="tab-pane fade in active show">
                    @Html.ActionLink("Responder", "ponerALgo", null, new { @class = "text-info" })
                    @foreach (Servicios.ModelsDTO.ListarVerPreguntas l in ViewBag.Todas)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row ml-4 mt-4">
                                    <div class="col-sm-12">
                                        <p class="d-inline-block mb-0"><strong>@l.Clase - @l.Tema</strong></p>
                                        <p class="d-inline-block mb-0">Hasta @l.Fecha</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="pregunta">@l.Nro. @l.Pregunta</p>
                                    </div>
                                    <div class-sm-5> 
                                        <p class="d-inline-block text-success">
                                            @if (l.Orden == 0)
                                            {@Html.ActionLink("Responder", "ResponderPregunta", "Alumnos", new { id = l.IdPregunta }, new { @class = "text-info" })}
                                            else
                                            {
                                            @Html.ActionLink("Ver", "VerRespuesta", "Alumnos", new { id = l.IdPregunta }, new { @class = "text-info" })<span> | </span>}
                                            @if (l.Resultado.Equals("0") && l.Orden != 0)
                                            {<span>Correccion Pendiente!</span>} | @if (l.Resultado.Equals("NULL"))
                                            { }
                                            else
                                            {@l.Resultado} | @if (l.Resultado.Equals("NULL"))
                                            { }
                                            else
                                            {@l.Orden <span>° |</span>} @if (l.Resultado.Equals("NULL"))
                                            { }
                                            else
                                            {@l.Puntos <span>pts |</span>} @if (l.MejorRespuesta)
                                            {<span>Mejor Respuesta!!!!</span>}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="SinCorregir" class="tab-pane">
                    @foreach (Servicios.ModelsDTO.ListarVerPreguntas l in ViewBag.SinCorregir)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row ml-4 mt-4">
                                    <div class="col-sm-12">
                                        <p class="d-inline-block mb-0"><strong>@l.Clase - @l.Tema</strong></p>
                                        <p class="d-inline-block mb-0">Hasta @l.Fecha</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="pregunta">@l.Nro. @l.Pregunta</p>
                                    </div>
                                    <div class-sm-5>
                                        <p class="d-inline-block text-success">
                                            @Html.ActionLink("Ver", "VerRespuesta", "Alumnos", new { id = l.IdPregunta }, new { @class = "text-info" }) | Correccion Pendiente! | @l.Resultado | @l.Orden ° | @l.Puntos pts | @if (l.MejorRespuesta)
                                            {<span>Mejor Respuesta!!!!</span>}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="Correctas" class="tab-pane">
                    @foreach (Servicios.ModelsDTO.ListarVerPreguntas l in ViewBag.Correctas)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row ml-4 mt-4">
                                    <div class="col-sm-12">
                                        <p class="d-inline-block mb-0"><strong>@l.Clase - @l.Tema</strong></p>
                                        <p class="d-inline-block mb-0">Hasta @l.Fecha</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="pregunta">@l.Nro. @l.Pregunta</p>
                                    </div>
                                    <div class-sm-5>
                                        <p class="d-inline-block text-success">
                                            @Html.ActionLink("Ver", "VerRespuesta", "Alumnos", new { id = l.IdPregunta }, new { @class = "text-info" }) | @l.Resultado | @l.Orden ° | @l.Puntos pts | @if (l.MejorRespuesta)
                                            {<span>Mejor Respuesta!!!!</span>}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="Regular" class="tab-pane">
                    @foreach (Servicios.ModelsDTO.ListarVerPreguntas l in ViewBag.Regular)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row ml-4 mt-4">
                                    <div class="col-sm-12">
                                        <p class="d-inline-block mb-0"><strong>@l.Clase - @l.Tema</strong></p>
                                        <p class="d-inline-block mb-0">Hasta @l.Fecha</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="pregunta">@l.Nro. @l.Pregunta</p>
                                    </div>
                                    <div class-sm-5>
                                        <p class="d-inline-block text-success">
                                            @Html.ActionLink("Ver", "VerRespuesta", "Alumnos", new { id= l.IdPregunta }, new { @class = "text-info" }) | @l.Resultado | @l.Orden ° | @l.Puntos pts | @if (l.MejorRespuesta)
                                            {<span>Mejor Respuesta!!!!</span>}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="Mal" class="tab-pane">
                    
                    @foreach (Servicios.ModelsDTO.ListarVerPreguntas l in ViewBag.Mal)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row ml-4 mt-4">
                                    <div class="col-sm-12">
                                        <p class="d-inline-block mb-0"><strong>@l.Clase - @l.Tema</strong></p>
                                        <p class="d-inline-block mb-0">Hasta @l.Fecha</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="pregunta">@l.Nro. @l.Pregunta</p>
                                    </div>
                                    <div class-sm-5>

                                        @Html.ActionLink("Ver", "ponerALgo", null, new { @class = "text-info" })
                                        <p class="d-inline-block text-success">
                                            @Html.ActionLink("Ver", "VerRespuesta", "Alumnos", new { id = l.IdPregunta }, new { @class = "text-info" }) | @l.Resultado | @l.Orden ° | @l.Puntos pts | @if (l.MejorRespuesta)
                                            {<span>Mejor Respuesta!!!!</span>}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
</div>

