@using Entidades
@model List<Alumno>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/AlumnosLayout.cshtml";
}

<section class="titulo-pagina">
    <div class="row">
        <div class="col-sm-12">
            <blockquote class="blockquote">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>¡Sube tus calificaciones!</h1> @ViewBag.soyProfesoy
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <footer class="blockquote-footer">Contestando preguntas referidas a lo visto en clase, suma puntos cruciales, para subir tus calificaciones al final de la cursada</footer>
                    </div>
                </div>

            </blockquote>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-sm-6">
        <section id="tabla-posiciones">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Tabla de posiciones</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-hover">
                        <thead class="bg-primary">
                            <tr>
                                <th scope="col">Pos</th>
                                <th scope="col">Almunos</th>
                                <th scope="col">Puntos</th>
                                <th scope="col">Repuestas Bien</th>
                                <th scope="col">Mejor Repuesta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1; }

                            @foreach (Alumno al in Model)
                            {
                                if (al.IdAlumno == (int)Session["UsuarioId"])
                                {
                                    <tr class="table-success">
                                        <td>@i</td>
                                        <td>@al.Nombre @al.Apellido</td>
                                        <td>@al.PuntosTotales</td>
                                        <td>@al.CantidadRespuestasCorrectas</td>
                                        <td>@al.CantidadMejorRespuesta</td>
                                    </tr>
                                }
                                else
                                {
                                    if (i % 2 == 1)
                                    {
                                        <tr class="table-secondary">
                                            <td>@i</td>
                                            <td>@al.Nombre @al.Apellido</td>
                                            <td>@al.PuntosTotales</td>
                                            <td>@al.CantidadRespuestasCorrectas</td>
                                            <td>@al.CantidadMejorRespuesta</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="table-primary">
                                            <td>@i</td>
                                            <td>@al.Nombre @al.Apellido</td>
                                            <td>@al.PuntosTotales</td>
                                            <td>@al.CantidadRespuestasCorrectas</td>
                                            <td>@al.CantidadMejorRespuesta</td>
                                        </tr>
                                    }
                                }

                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <div class="col-sm-6">
        <section id="puntajes-por-preguntas">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Preguntas última clase(Clase 5)</h4>
                </div>
            </div>
            <div class="row">

                @foreach (Pregunta pr in ViewBag.Preguntas)
                {
                    <div class="col-sm-6">
                        <h5>@pr.Nro. @pr.Pregunta1 @pr.Clase.Nombre </h5>
                    </div>

                }

            </div>
        </section>
    </div>
</div>

<section id="sin-responder">
    <div class="row">
        <div class="col-sm-12">
            <h2>Preguntas sin responder.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @for (int j = 0; j < 3; j++)
            {
                @Html.ActionLink((j + 10) + ".¿Preguntas siguiente?", "Ver")<br />
            }
        </div>
    </div>
</section>